/* iphone6/7/8/plus */
@media only screen and (max-width: 415px) {
    

    .nav {
        display: flex;
        justify-content: space-between;
        margin: 0 20px;
    }

    #logo {
        width: 82px;
        height: 72px;
    }

    .menu {
        display: none;
    }

    .nav_molbie {
        display: block;
    }

    #menu_molbie li {
        padding-top: 5px;
        display: inline-block;
    }

    #menu_molbie a {
        padding-left: 40px;
        font-size: 20px;
        color: #2A2A2A;

    }
    .hot_new{
        display: block;
        margin: 0 20px;
    }
    .hot_new img{
        height: 100%;
        width: 100%;

    }
    .hot_new h4{
        font-size: 25px;
    }
    .content_childd{
        font-size: 20px;
        line-height:20px;
    }

    .breaking_new{
        position: relative;
        margin: 33px 0px;
        height: 130px;
        line-height: 25px;
        font-size: 15px;
    }
    .breaking_new p:first-child{
        padding:16px 20px 20px 18px;
      
        margin-top: 20px;
        top: 0;
        left: 15px;
        line-height: 10px;
        height: 35px;
    }
    .breaking_new p:last-child{
        bottom: 20px;
        right: unset;
        font-size: 15px;
        padding: 0 10px;

    }
    .news{
        margin: 0 20px;
    }
    .news_content{
        display: block;
    }
    .new_content_child{
        margin-bottom: 30px;
    }
    .new_child{
        margin: 0 20px;
    }
    .content_new_child{
        display: block;
    }.content_new_child_item{
        display: block;
    }.content_new_child_item img {
        width: 100%;
    }
    .footer{
        display: block;
        text-align: center;
        padding-top: 15px;
        height: 350px;
    }.footer_item_center{
        line-height: 25px;
        position: relative;
        bottom: 30px;
    }
    .footer_item_left img {
        padding-left: 10px;
    }
    .footer_item_left p{
    bottom: -225px;
    left: 3px;
    }
    .footer_item_right{
        right: 10px;
    }




   
}
